<table class="table table-striped table-bordered table-hover" id="dataTables-example">
  <thead>
    <tr>
      <th>Like</th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Market Cap. (£ m)</th>
      <th>Profit (£ m)</th>
      <th>M/P Ratio</th>
      <th>P/E</th>
      <th>EMS - Liquidity (£)</th>
      <th>Price (£ p) - Spread (%)</th>
      <th>Dividend (£ p)</th>
      <th>Net Debt (£ m) - D/P Ratio</th>
      <th>Profit Trend</th>
      <th>Divident Trend</th>
      <th>Debt Trend</th>
      <th>Sector</th>
    </tr>
  </thead>
  <tbody>
    <tr class='clickable-row' ng-repeat="obj in ftse" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" ui-sref="dashboard.detail({symbol: obj.fields.Symbol})">
      <td><fav symbol='obj.fields.Symbol'></fav></td>
      <td>{{obj.fields.Symbol}}</td>
      <td>{{obj.fields.Name}}</td>
      <td>{{obj.fields.MarketCap}}</td>
      <td>{{obj.fields.Profit}}</td>
      <td>{{obj.fields.MPRatio|number:1}}</td>
      <td>{{obj.fields.PE}}</td>
      <td>{{obj.fields.EMS}} - {{obj.fields.Liquidity|number:0}}</td>
      <td>{{obj.fields.Bid}} - {{obj.fields.Offer}} ({{obj.fields.Spread|number:2}})</td>
      <td>{{obj.fields.Dividend}}</td>
      <td>{{obj.fields.NetDebt}} - {{obj.fields.DPRatio|number:2}}</td>
      <td>{{obj.fields.ProfitTrend|number:2}}</td>
      <td>{{obj.fields.DividendTrend|number:2}}</td>
      <td>{{obj.fields.DebtTrend|number:2}}</td>
      <td>{{obj.fields.Sector}}</td>
    </tr>
  </tbody>
</table>
