template(name="stock_table")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Stock Tables
    .row
      .col-lg-12
        input#stockFilter(type="checkbox", name="stockFilter", checked='#{basicfilter}')
        span Apply Basis Filter
    +stocklist(index='FTSE All-Share' name='FTSEAS')
    +stocklist(index='FTSE AIM All-Share' name='FTSEAAS')
      
      
template(name='stocklist')
  if tableHasRecord index
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            a(name="#{name}") #{index}
          .panel-body
            .table-responsive
              table#stockTable.table.table-striped.table-bordered.table-hover
                thead
                  +stockHeader
                tbody
                  each tableEntry index
                    +stockEntry

template(name='stockHeader')
  tr
    th Symbol
    th Name
    th Market Cap. (£ m)
    th Profit (£ m)
    th M/P Ratio
    th P/E
    th EMS - Liquidity (£)
    th Price (£ p) - Spread (%)
    th Dividend (£ p)
    th Net Debt (£ m) - D/P Ratio


template(name='stockEntry')
  tr.clickable-row
    td {{symbol}}
    td {{name}}
    td {{numFormat stats.MarketCap 2}}
    td {{numFormat stats.Profit 2}}
    td {{numFormat stats.MPRatio 1}}
    td {{numFormat stats.PE 1}}
    td {{numFormat stats.EMS 0}} - {{numFormat stats.Liquidity 0}}
    td {{numFormat stats.Bid 1}} - {{numFormat stats.Offer 1}} ({{numFormat stats.Spread 3}})
    td {{numFormat stats.Dividend 2}}
    td {{numFormat stats.NetDebt 2}} - {{numFormat stats.DPRatio 2}}
