<!-- /.row-->
<div class="panel panel-default">
  <div class="panel-heading">
    <i class="fa fa-line-chart fa-fw"></i>Indices
  </div>
  <!-- /.panel-heading-->
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">
        <stockchart plotid="'ftseChart'" url='ftse_url' title='FTSE'></stockchart>
      </div>
      <div class="col-xs-6">
        <stockchart plotid="'ftaiChart'" url='ftai_url' title='FTAI'></stockchart>
      </div>
    </div>
  </div>
</div>


<!-- /.row-->
<div class="row">

  <div class="col-xs-6">

    <div class="row">
      <div class="col-xs-12">
        <!-- /.panel-->
        <div class="chat-panel panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-newspaper-o fa-fw"></i>Favourite Daily News
          </div>
          <!-- /.panel-heading-->
          <div class="panel-body">
            <div class="dataTable_wrapper">
              <div class="table-responsive">
                <newstable newslist=newslist></newstable>
              </div>
            </div>
          </div>
          <!-- /.panel-body-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-6">

    <!-- /.panel .chat-panel-->
    <!-- <hr /> -->
    <div class="row">
      <div class="col-xs-12">
        <div class="chat-panel panel panel-default">
          <div class="panel-heading">
            <i class="fa fa-list fa-fw"></i>Naked Trader Transections
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table id='NTStock' class="table table-bordered table-hover table-striped">
                <thead>
                  <tr>
                    <th>Symbol</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Target</th>
                    <th>Stop</th>
                    <th>Buy Date</th>
                    <th>Sell</th>
                    <th>Sell Date</th>
                    <th>P/L</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='obj in NTStocks'>
                    <td><a ui-sref="dashboard.detail({symbol: obj.symbol})">{{obj.symbol}}</a></td>
                    <td>{{obj.qty}}</td>
                    <td>{{obj.price}}</td>
                    <td>{{obj.target}}</td>
                    <td>{{obj.stop}}</td>
                    <td>{{obj.buy_date}}</td>
                    <td>{{obj.sell}}</td>
                    <td>{{obj.sell_date}}</td>
                    <td>{{obj.pl}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /.table-responsive-->
      </div>

    </div>

  </div>
  <!-- /.col-xs-4-->
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- /.panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-arrow-up fa-fw"></i>Stock Movers
        <div class="btn-group" data-toggle="buttons">
          <button class="btn btn-default" ng-class="{active : pred == predicate}" ng-repeat="pred in predicateMap" ng-click="order(pred)">{{pred.title}}</button>
        </div>
      </div>
      <!-- /.panel-heading-->
      <div class="panel-body">
        <div class="dataTable_wrapper">
          <div class="table-responsive">

            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Symbol</th>
                  <th>{{predicate.title}} Changes (%) <span class="sortorder" ng-class="{reverse:reverse}"></span></th>
                  <th>Name</th>
                  <th>Market Cap. (£ m)</th>
                  <th>Price (£ p) - Spread (%)</th>
                  <th>Profit Trend</th>
                  <th>Divident Trend</th>
                  <th>Debt Trend</th>
                  <th>Sector</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="obj in stocks|orderBy:predicate.id:reverse|limitTo:20">
                  <td><a ui-sref="dashboard.detail({symbol: obj.fields.Symbol})">{{obj.fields.Symbol}}</a></td>
                  <td ng-if="predicate.title=='Weekly'">{{obj.fields.weekly_change|number:2}}</td>
                  <td ng-if="predicate.title=='Monthly'">{{obj.fields.monthly_change|number:2}}</td>
                  <td ng-if="predicate.title=='Seasonally'">{{obj.fields.seasonally_change|number:2}}</td>
                  <td ng-if="predicate.title=='Half-yearly'">{{obj.fields.halfyearly_change|number:2}}</td>
                  <td ng-if="predicate.title=='Yearly'">{{obj.fields.yearly_change|number:2}}</td>
                  <td>{{obj.fields.Name}}</td>
                  <td>{{obj.fields.MarketCap}}</td>
                  <td>{{obj.fields.Bid|number:1}} - {{obj.fields.Offer|number:1}} ({{obj.fields.Spread|number:2}})</td>
                  <td>{{obj.fields.ProfitTrend|number:2}}</td>
                  <td>{{obj.fields.DividendTrend|number:2}}</td>
                  <td>{{obj.fields.DebtTrend|number:2}}</td>
                  <td>{{obj.fields.Sector}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.panel-body-->
    </div>
  </div>
</div>
