<div id="wrapper">

        <!-- Navigation -->

        <header></header>
        <!-- /.navbar-top-links -->


        <!-- /.navbar-static-side -->

            <div id="page-wrapper">

              <div class="row">
                <div class="col-lg-12">
                    Navigation <span ng-repeat='nav in navigator'>
                      > <a href="{{nav.url}}">{{nav.name}}</a>
                    </span>
                </div>
                  <!-- /.col-lg-12 -->
              </div>
                <main ui-view></main>

            </div>
            <!-- /#page-wrapper -->
    </div>
