{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'market/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'market/css/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'market/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'market/css/charts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'market/css/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'market/css/style.css' %}" />

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Gambling!!!">
<meta name="author" content="Yuxiang ZHOU">
