<div role="navigation" class="navbar-default sidebar">
  <div class="sidebar-nav navbar-collapse">
    <ul id="side-menu" class="nav">
      <li class="sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" placeholder="Search..." class="form-control"/><span class="input-group-btn">
            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span>
        </div>
      </li>
      <!-- /input-group-->
      {% for nav in navRoutes %}
        {% include 'market/navElement.html' with navElem=nav %}
      {% endfor %}
      {% for nav in indexRoutes %}
        {% include 'market/navElement.html' with navElem=nav %}
      {% endfor %}
    </ul>
  </div>
</div>
