<div class="row">
  <div class="col-lg-12">
    <form id="track_toggle" action="" method="post">
      <h1 class="page-header">
        <b>{{stockdetail.Symbol}}</b>: {{stockdetail.Name}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- {% if request.user.is_active %}
          <input type="hidden" value="{{request.user.username}}" name="username" />
          {% if stockdetail.stockselection_set|has_user:request.user %}
            <i class="fa fa-fw fa-heart fa-lg c-heart clickable" onclick='document.getElementById("track_toggle").submit();'></i>
            <input type="hidden" value=true name="track" />
          {% else %}
            <i class="fa fa-fw fa-heart-o fa-lg c-heart-o clickable" onclick='document.getElementById("track_toggle").submit();'></i>
            <input type="hidden" value=false name="track" />
          {% endif %}
        {% endif %} -->
      </h1>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-4"><b>{{stockdetail.Price}}</b></div>
  <div class="col-lg-4"><i>Market Cap.: £{{stockdetail.MarketCap}}(M)</i></div>
  <div class="col-lg-4"><i>EMS: {{stockdetail.EMS}}</i></div>
</div>
<div class="row">
  <div class="col-lg-4"><i>Range: {{stockdetail.Bid}}p (bid) - {{stockdetail.Offer}}p (offer)</i></div>
  <div class="col-lg-4"><i>Profit: £{{stockdetail.Profit}}(M)</i></div>
  <div class="col-lg-4"><i>Liquidity: £{{stockdetail.Liquidity}}</i></div>
</div>
<div class="row">
  <div class="col-lg-4"><i>Spread: {{stockdetail.Spread|number:2}}%</i></div>
  <div class="col-lg-4"><i>M/P Ratio: {{stockdetail.MPRatio|number:2}}</i></div>
  <div class="col-lg-4"><i>Dividend: {{stockdetail.Dividend}}p</i></div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h4 class="page-header">Analysis</h4>
    <a href="http://www.londonstockexchange.com/ftse-analytics/{{stockdetail.Query}}.pdf">LSE Analysis</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-4"><i>Profit Trend: {{stockdetail.ProfitTrend|number:2}}</i></div>
  <div class="col-lg-4"><i>Dividend Trend: {{stockdetail.DividendTrend|number:2}}</i></div>
  <div class="col-lg-4"><i>Debt Trend: {{stockdetail.DebtTrend}}</i></div>
</div>
<div class="row">
  <div class="col-lg-4"><i>Weekly Change: {{stockdetail.weekly_change|number:2}}%</i></div>
  <div class="col-lg-4"><i>Monthly Change: {{stockdetail.monthly_change|number:2}}%</i></div>
  <div class="col-lg-4"><i>Seasonally Change: {{stockdetail.seasonally_change|number:2}}%</i></div>
</div>
<div class="row">
  <div class="col-lg-4"><i>Half Yearly Change: {{stockdetail.halfyearly_change|number:2}}%</i></div>
  <div class="col-lg-4"><i>Yearly Change: {{stockdetail.yearly_change|number:2}}%</i></div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h4 class="page-header">Stock: {{stockdetail.Symbol}}</h4>
    <annochart plotid="'stockChart'" url='history_url' title='stockdetail.Symbol' ng-if='stockdetail'></annochart>
  </div>

  <div class="col-lg-4">
    <h4 class="page-header"  ng-if="stockdetail.Catagory.indexOf('AIM') > -1">FTAI</h4>
    <h4 class="page-header"  ng-if="stockdetail.Catagory.indexOf('AIM') <= -1">FTSE</h4>
    <annochart plotid="'ftseChart'" url='ftse_url' title='stockdetail.Catagory' ng-if='stockdetail'></annochart>
  </div>

  <div class="col-lg-4">
    <h4 class="page-header">Sector: {{stockdetail.Sector}}</h4>
    <annochart plotid="'sectorChart'" url='sector_url' title='stockdetail.Sector' ng-if='stockdetail'></annochart>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">News</h3>
    <ul>
        <li ng-repeat="news in stocknews"><a href='{{news.url}}'>{{news.title}}</a> | <span>{{news.pub_date}}</span></li>
    </ul>
  </div>
</div>
