<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-newspaper-o fa-fw"></i>Sectors
      </div>
      <!-- /.panel-heading-->
      <div class="panel-body">
        <div class="row" ng-repeat="sector in sectors">
          <h3>{{sector.title}}</h3>
          <div class="col-lg-12">
            <annochart plotid="{{sector.id}}SectorChart" url='sector.url' title='sector.title'></annochart>
          </div>
          <hr />
        </div>
      </div>
      <!-- /.panel-body-->
    </div>
  </div>
</div>
